{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block container %}
<!-- Page Content -->
<div class="container" style="min-height: 80vh;">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Login
    <small>Form</small>
  </h1>


  {% block content %}
  <form method="POST" style="width: 70%;">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success btn-sm">Log In</button>
  </form>
  <br>
  <a href="http://127.0.0.1:8000/api/token/" class="btn btn-danger btn-sm">Test RestFramework</a>
  <br>
  <p>Don't have an account ? <strong><i><a href="{% url 'authenticate:register' %}">Register Here</a></i></strong></p>
  {% endblock %}
</div>
<!-- /.container -->
{% endblock container %}